{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

  <link href="/static/assets/vendors/@coreui/chartjs/css/coreui-chartjs.css" rel="stylesheet">

{% endblock stylesheets %}

{% block content %}

    <main class="c-main">
      <div class="container-fluid">
        <div class="fade-in">
          <div class="row">
            <div class="col-sm-6 col-lg-3">
              <div class="card text-white bg-gradient-primary">
                <div class="card-body card-body pb-0 d-flex justify-content-between align-items-start">
                  <div>
                    <div class="text-value-lg">9 878</div>
                    <div>Utilisateurs</div>
                  </div>
                </div>
                <div class="c-chart-wrapper mt-3 mx-3" style="height:70px;">
                  <canvas class="chart" id="card-chart1" height="70"></canvas>
                </div>
              </div>
            </div>
            <!-- /.col-->
            <div class="col-sm-6 col-lg-3">
              <div class="card text-white bg-gradient-info">
                <div class="card-body card-body pb-0 d-flex justify-content-between align-items-start">
                  <div>
                    <div class="text-value-lg">2 899</div>
                    <div>Entreprises</div>
                  </div>
                </div>
                <div class="c-chart-wrapper mt-3 mx-3" style="height:70px;">
                  <canvas class="chart" id="card-chart2" height="70"></canvas>
                </div>
              </div>
            </div>
            <!-- /.col-->
            <div class="col-sm-6 col-lg-3">
              <div class="card text-white bg-gradient-warning">
                <div class="card-body card-body pb-0 d-flex justify-content-between align-items-start">
                  <div>
                    <div class="text-value-lg">6 979</div>
                    <div>Fournisseurs de données</div>
                  </div>
                </div>
                <div class="c-chart-wrapper mt-3" style="height:70px;">
                  <canvas class="chart" id="card-chart3" height="70"></canvas>
                </div>
              </div>
            </div>
            <!-- /.col-->
            <div class="col-sm-6 col-lg-3">
              <div class="card text-white bg-gradient-danger">
                <div class="card-body card-body pb-0 d-flex justify-content-between align-items-start">
                  <div>
                    <div class="text-value-lg">2 789 435</div>
                    <div>Transactions effectuées</div>
                  </div>
                </div>
                <div class="c-chart-wrapper mt-3 mx-3" style="height:70px;">
                  <canvas class="chart" id="card-chart4" height="70"></canvas>
                </div>
              </div>
            </div>
            <!-- /.col-->
          </div>

          {% if is_b2b %}
          <!-- /.row-->
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">Statistiques</div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="row">
                        <div class="col-6">
                          <div class="c-callout c-callout-info"><small class="text-muted">Nouvelles données</small>
                            <div class="text-value-lg">9,123</div>
                          </div>
                        </div>
                        <!-- /.col-->
                        <div class="col-6">
                          <div class="c-callout c-callout-danger"><small class="text-muted">Données récurrentes</small>
                            <div class="text-value-lg">22,643</div>
                          </div>
                        </div>
                        <!-- /.col-->
                      </div>
                      <!-- /.row-->
                      <hr class="mt-0">
                      <div class="progress-group mb-4">
                        <div class="progress-group-prepend"><span class="progress-group-text">Données démographiques</span></div>
                        <div class="progress-group-bars">
                          <div class="progress progress-xs">
                            <div class="progress-bar bg-gradient-info" role="progressbar" style="width: 34%" aria-valuenow="34" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                          <div class="progress progress-xs">
                            <div class="progress-bar bg-gradient-danger" role="progressbar" style="width: 78%" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </div>
                      </div>
                      <div class="progress-group mb-4">
                        <div class="progress-group-prepend"><span class="progress-group-text">Famille et santé</span></div>
                        <div class="progress-group-bars">
                          <div class="progress progress-xs">
                            <div class="progress-bar bg-gradient-info" role="progressbar" style="width: 56%" aria-valuenow="56" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                          <div class="progress progress-xs">
                            <div class="progress-bar bg-gradient-danger" role="progressbar" style="width: 94%" aria-valuenow="94" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </div>
                      </div>
                      <div class="progress-group mb-4">
                        <div class="progress-group-prepend"><span class="progress-group-text">Travail et finance</span></div>
                        <div class="progress-group-bars">
                          <div class="progress progress-xs">
                            <div class="progress-bar bg-gradient-info" role="progressbar" style="width: 10%" aria-valuenow="12" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                          <div class="progress progress-xs">
                            <div class="progress-bar bg-gradient-danger" role="progressbar" style="width: 70%" aria-valuenow="67" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </div>
                      </div>
                      <div class="progress-group mb-4">
                        <div class="progress-group-prepend"><span class="progress-group-text">Activités</span></div>
                        <div class="progress-group-bars">
                          <div class="progress progress-xs">
                            <div class="progress-bar bg-gradient-info" role="progressbar" style="width: 43%" aria-valuenow="43" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                          <div class="progress progress-xs">
                            <div class="progress-bar bg-gradient-danger" role="progressbar" style="width: 91%" aria-valuenow="91" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </div>
                      </div>
                      <div class="progress-group mb-4">
                        <div class="progress-group-prepend"><span class="progress-group-text">Consommation</span></div>
                        <div class="progress-group-bars">
                          <div class="progress progress-xs">
                            <div class="progress-bar bg-gradient-info" role="progressbar" style="width: 22%" aria-valuenow="22" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                          <div class="progress progress-xs">
                            <div class="progress-bar bg-gradient-danger" role="progressbar" style="width: 73%" aria-valuenow="73" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- /.col-->
                    <div class="col-sm-6">
                      <div class="row">
                        <div class="col-6">
                          <div class="c-callout c-callout-warning"><small class="text-muted">Nouveaux fournisseurs</small>
                            <div class="text-value-lg">4 301</div>
                          </div>
                        </div>
                        <!-- /.col-->
                        <div class="col-6">
                          <div class="c-callout c-callout-success"><small class="text-muted">Nouveaux contrats</small>
                            <div class="text-value-lg">6 291</div>
                          </div>
                        </div>
                        <!-- /.col-->
                      </div>
                      <!-- /.row-->
                      <hr class="mt-0">
                      <div class="progress-group">
                        <div class="progress-group-header">
                          <svg class="c-icon progress-group-icon">
                            <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-user"></use>
                          </svg>
                          <div>Male</div>
                          <div class="mfs-auto font-weight-bold">43%</div>
                        </div>
                        <div class="progress-group-bars">
                          <div class="progress progress-xs">
                            <div class="progress-bar bg-gradient-warning" role="progressbar" style="width: 43%" aria-valuenow="43" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </div>
                      </div>
                      <div class="progress-group mb-5">
                        <div class="progress-group-header">
                          <svg class="c-icon progress-group-icon">
                            <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-user-female"></use>
                          </svg>
                          <div>Female</div>
                          <div class="mfs-auto font-weight-bold">37%</div>
                        </div>
                        <div class="progress-group-bars">
                          <div class="progress progress-xs">
                            <div class="progress-bar bg-gradient-warning" role="progressbar" style="width: 43%" aria-valuenow="43" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </div>
                      </div>
                      <div class="progress-group">
                        <div class="progress-group-header align-items-end">
                          <div>🇬🇧 United kingdom</div>
                          <div class="mfs-auto font-weight-bold mfe-2">3 774</div>
                          <div class="text-muted small">(60%)</div>
                        </div>
                        <div class="progress-group-bars">
                          <div class="progress progress-xs">
                            <div class="progress-bar bg-gradient-success" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </div>
                      </div>
                      <div class="progress-group">
                        <div class="progress-group-header align-items-end">
                          <div>🇫🇷 France</div>
                          <div class="mfs-auto font-weight-bold mfe-2">2 453</div>
                          <div class="text-muted small">(39%)</div>
                        </div>
                        <div class="progress-group-bars">
                          <div class="progress progress-xs">
                            <div class="progress-bar bg-gradient-success" role="progressbar" style="width: 39%" aria-valuenow="39" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </div>
                      </div>
                      <div class="progress-group">
                        <div class="progress-group-header align-items-end">
                          <div>🇪🇸 Spain</div>
                          <div class="mfs-auto font-weight-bold mfe-2">754</div>
                          <div class="text-muted small">(12%)</div>
                        </div>
                        <div class="progress-group-bars">
                          <div class="progress progress-xs">
                            <div class="progress-bar bg-gradient-success" role="progressbar" style="width: 12%" aria-valuenow="12" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </div>
                      </div>
                      <div class="progress-group">
                        <div class="progress-group-header align-items-end">
                          <div>🇸🇪 Sweden</div>
                          <div class="mfs-auto font-weight-bold mfe-2">566</div>
                          <div class="text-muted small">(9%)</div>
                        </div>
                        <div class="progress-group-bars">
                          <div class="progress progress-xs">
                            <div class="progress-bar bg-gradient-success" role="progressbar" style="width: 9%" aria-valuenow="9" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- /.col-->
                  </div>
                  <!-- /.row--><br>
                </div>
              </div>
            </div>
            <!-- /.col-->
          </div>
          <!-- /.row-->
          {% else %}
          <!-- /.row-->
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">Tendances</div>
                <div class="card-body">
                  <!-- /.row--><br>
                  <table class="table table-responsive-sm table-hover table-outline mb-0">
                    <thead class="thead-light">
                      <tr>
                        <th class="text-center">
                          <svg class="c-icon">
                            <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-building"></use>
                          </svg>
                        </th>
                        <th>Entreprise</th>
                        <th class="text-center">Pays</th>
                        <th>Correspondance avec votre profil</th>
                        <th class="text-center">Nombre de contrats (total)</th>
                        <th>Activité</th>
                      </tr>
                    </thead>
                    <tbody>

                      <tr>
                        <td class="text-center">
                          <svg class="c-icon c-icon-xl">
                            <use xlink:href="/static/assets/vendors/@coreui/icons/svg/brand.svg#cib-big-cartel"></use>
                          </svg>
                        </td>
                        <td>
                          <div>Big Cartel</div>
                          <div class="small text-muted"><span>PME</span> | Enregistrée: Jan 1, 2015</div>
                        </td>
                        <td class="text-center">
                          <svg class="c-icon c-icon-xl">
                            <use xlink:href="/static/assets/vendors/@coreui/icons/svg/flag.svg#cif-fr"></use>
                          </svg>
                        </td>
                        <td>
                          <div class="clearfix">
                            <div class="float-left"><strong>50%</strong></div>
                          </div>
                          <div class="progress progress-xs">
                            <div class="progress-bar bg-gradient-success" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </td>
                        <td class="text-center">58</td>
                        <td>
                          <div class="small text-muted">Dernière activité</div><strong>il y a 10s</strong>
                        </td>
                      </tr>


                      <tr>
                        <td class="text-center">
                          <svg class="c-icon c-icon-xl">
                            <use xlink:href="/static/assets/vendors/@coreui/icons/svg/brand.svg#cib-behance"></use>
                          </svg>
                        </td>
                        <td>
                          <div>Behance</div>
                          <div class="small text-muted"><span>ITE</span> | Enregistrée: Mars 12, 2017</div>
                        </td>
                        <td class="text-center">
                          <svg class="c-icon c-icon-xl">
                            <use xlink:href="/static/assets/vendors/@coreui/icons/svg/flag.svg#cif-gb"></use>
                          </svg>
                        </td>
                        <td>
                          <div class="clearfix">
                            <div class="float-left"><strong>67%</strong></div>
                          </div>
                          <div class="progress progress-xs">
                            <div class="progress-bar bg-gradient-warning" role="progressbar" style="width: 67%" aria-valuenow="67" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </td>
                        <td class="text-center">107</td>
                        <td>
                          <div class="small text-muted">Dernière activité</div><strong>il y a 30s</strong>
                        </td>
                      </tr>

                      <tr>
                        <td class="text-center">
                          <svg class="c-icon c-icon-xl">
                            <use xlink:href="/static/assets/vendors/@coreui/icons/svg/brand.svg#cib-brave"></use>
                          </svg>
                        </td>
                        <td>
                          <div>Brave</div>
                          <div class="small text-muted"><span>MIC</span> | Enregistrée: Fev 24, 2017</div>
                        </td>
                        <td class="text-center">
                          <svg class="c-icon c-icon-xl">
                            <use xlink:href="/static/assets/vendors/@coreui/icons/svg/flag.svg#cif-au"></use>
                          </svg>
                        </td>
                        <td>
                          <div class="clearfix">
                            <div class="float-left"><strong>80%</strong></div>
                          </div>
                          <div class="progress progress-xs">
                            <div class="progress-bar bg-gradient-success" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </td>
                        <td class="text-center">490</td>
                        <td>
                          <div class="small text-muted">Dernière activité</div><strong>il y a 1 min</strong>
                        </td>
                      </tr>

                      <tr>
                        <td class="text-center">
                          <svg class="c-icon c-icon-xl">
                            <use xlink:href="/static/assets/vendors/@coreui/icons/svg/brand.svg#cib-deepin"></use>
                          </svg>
                        </td>
                        <td>
                          <div>DeepIn</div>
                          <div class="small text-muted"><span>PME</span> | Enregistrée: Nov 26, 2018</div>
                        </td>
                        <td class="text-center">
                          <svg class="c-icon c-icon-xl">
                            <use xlink:href="/static/assets/vendors/@coreui/icons/svg/flag.svg#cif-fr"></use>
                          </svg>
                        </td>
                        <td>
                          <div class="clearfix">
                            <div class="float-left"><strong>40%</strong></div>
                          </div>
                          <div class="progress progress-xs">
                            <div class="progress-bar bg-gradient-warning" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </td>
                        <td class="text-center">45</td>
                        <td>
                          <div class="small text-muted">Dernière activité</div><strong>il y a 2 mins</strong>
                        </td>
                      </tr>

                      <tr>
                        <td class="text-center">
                          <svg class="c-icon c-icon-xl">
                            <use xlink:href="/static/assets/vendors/@coreui/icons/svg/brand.svg#cib-habr"></use>
                          </svg>
                        </td>
                        <td>
                          <div>Habr</div>
                          <div class="small text-muted"><span>PME</span> | Enregistrée: Juin 20, 2018</div>
                        </td>
                        <td class="text-center">
                          <svg class="c-icon c-icon-xl">
                            <use xlink:href="/static/assets/vendors/@coreui/icons/svg/flag.svg#cif-fr"></use>
                          </svg>
                        </td>
                        <td>
                          <div class="clearfix">
                            <div class="float-left"><strong>60%</strong></div>
                          </div>
                          <div class="progress progress-xs">
                            <div class="progress-bar bg-gradient-warning" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </td>
                        <td class="text-center">68</td>
                        <td>
                          <div class="small text-muted">Dernière activité</div><strong>il y a 2 mins</strong>
                        </td>
                      </tr>

                      <tr>
                        <td class="text-center">
                          <svg class="c-icon c-icon-xl">
                            <use xlink:href="/static/assets/vendors/@coreui/icons/svg/brand.svg#cib-realm"></use>
                          </svg>
                        </td>
                        <td>
                          <div>Realm</div>
                          <div class="small text-muted"><span>MIC</span> | Enregistrée: Août 12, 2017</div>
                        </td>
                        <td class="text-center">
                          <svg class="c-icon c-icon-xl">
                            <use xlink:href="/static/assets/vendors/@coreui/icons/svg/flag.svg#cif-es"></use>
                          </svg>
                        </td>
                        <td>
                          <div class="clearfix">
                            <div class="float-left"><strong>22%</strong></div>
                          </div>
                          <div class="progress progress-xs">
                            <div class="progress-bar bg-gradient-danger" role="progressbar" style="width: 22%" aria-valuenow="22" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </td>
                        <td class="text-center">76</td>
                        <td>
                          <div class="small text-muted">Dernière activité</div><strong>il y a 3 mins</strong>
                        </td>
                      </tr>

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!-- /.col-->
          </div>
          <!-- /.row-->
          {% endif %}
        </div>
      </div>
    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <!-- Plugins and scripts required by this view-->
    <script src="/static/assets/vendors/@coreui/chartjs/js/coreui-chartjs.bundle.js"></script>
    <script src="/static/assets/vendors/@coreui/utils/js/coreui-utils.js"></script>
    <script src="/static/assets/js/main.js"></script>

{% endblock javascripts %}
