
    <div class="c-sidebar c-sidebar-dark c-sidebar-fixed c-sidebar-lg-show" id="sidebar">
        <!-- Logo -->
        <div class="c-sidebar-brand d-lg-down-none">
          <svg class="c-sidebar-brand-full" width="118" height="46" alt="CoreUI Logo">
            <use xlink:href="/static/assets/brand/coreui.svg#full"></use>
          </svg>
          <svg class="c-sidebar-brand-minimized" width="46" height="46" alt="CoreUI Logo">
            <use xlink:href="/static/assets/brand/coreui.svg#signet"></use>
          </svg>
        </div>
        <ul class="c-sidebar-nav">

          <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/">
              <svg class="c-sidebar-nav-icon">
                <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-speedometer"></use>
              </svg> Dashboard</a></li>


          <li class="c-sidebar-nav-title">Contrats</li>
          {% if is_b2b %}
          <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/ui-accepted.html">
              <svg class="c-sidebar-nav-icon">
                <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-check"></use>
              </svg> Contrats actifs</a></li>
          <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/ui-pending.html">
              <svg class="c-sidebar-nav-icon">
                <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-clock"></use>
              </svg> Contrats en attente</a></li>
          <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/ui-available.html">
              <svg class="c-sidebar-nav-icon">
                <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-bullhorn"></use>
              </svg> Contrats disponibles</a></li>
          {% else %}
          <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/ui-accepted.html">
              <svg class="c-sidebar-nav-icon">
                <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-check"></use>
              </svg> Contrats actifs</a></li>
          <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/ui-pending.html">
              <svg class="c-sidebar-nav-icon">
                <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-x-circle"></use>
              </svg> Contrats refusés</a></li>
          <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/ui-typography.html">
              <svg class="c-sidebar-nav-icon">
                <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-pencil"></use>
              </svg> Créer un nouveau contrat</a></li>
          {% endif %}

          {% if is_b2b %}
          <li class="c-sidebar-nav-title">Cloud</li>
          <li class="c-sidebar-nav-item c-sidebar-nav-dropdown"><a class="c-sidebar-nav-link c-sidebar-nav-dropdown-toggle" href="#">
              <svg class="c-sidebar-nav-icon">
                <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-3d"></use>
              </svg> Instances actives</a>
            <ul class="c-sidebar-nav-dropdown-items">
              <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/ui-breadcrumb.html"><span class="c-sidebar-nav-icon"></span> Instance 1</a></li>
              <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/ui-cards.html"><span class="c-sidebar-nav-icon"></span> Instance 2</a></li>
              <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/ui-carousel.html"><span class="c-sidebar-nav-icon"></span> Instance 4</a></li>
              <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/ui-collapse.html"><span class="c-sidebar-nav-icon"></span> Instance 7</a></li>
            </ul>
          </li>
          <li class="c-sidebar-nav-item c-sidebar-nav-dropdown"><a class="c-sidebar-nav-link c-sidebar-nav-dropdown-toggle" href="#">
              <svg class="c-sidebar-nav-icon">
                <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-media-stop"></use>
              </svg> Instances arrêtées</a>
            <ul class="c-sidebar-nav-dropdown-items">
              <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/ui-breadcrumb.html"><span class="c-sidebar-nav-icon"></span> Instance 3</a></li>
              <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/ui-cards.html"><span class="c-sidebar-nav-icon"></span> Instance 5</a></li>
            </ul>
          </li>
          <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/ui-typography.html">
              <svg class="c-sidebar-nav-icon">
                <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-pencil"></use>
              </svg> Créer une nouvelle instance</a></li>
          {% endif %}

          {% if not is_b2b %}
          <li class="c-sidebar-nav-title">Patrimoine</li>
          <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/ui-typography.html">
              <svg class="c-sidebar-nav-icon">
                <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-graph"></use>
              </svg> Statistiques</a></li>
          <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/ui-typography.html">
              <svg class="c-sidebar-nav-icon">
                <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-bullhorn"></use>
              </svg> Tendances</a></li>
          {% endif %}


          <li class="c-sidebar-nav-title">Paramètres</li>
          <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href={{ url_for('base_blueprint.logout') }} >
            <svg class="c-sidebar-nav-icon">
              <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-account-logout"></use>
            </svg> Logout</a></li>

        </ul>
        <button class="c-sidebar-minimizer c-class-toggler" type="button" data-target="_parent" data-class="c-sidebar-minimized"></button>
      </div>
